<div>    
    <div class="container cards">

        <div class="new-cards">
            <div id="new">
                <form name="addForm">
                    <fieldset class="form-group">
                        <label>Enter a New Word</label>
                        <input type="text" class="form-control" id="newWord" placeholder="New Word" ng-model="word">
                    </fieldset>
                    <button type="submit" class="btn" id="makeNew" ng-click="addWord(word)">Make a New Card</button>
                </form>
            </div>
        </div>

    </div>
</div>